
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0 auto;
    max-width: 800px;
    color:#e4e4e4;
}

h1 {
    font-size: 22px;
}

h2 {
    font-size: 18px;
}

ul li {
    list-style-type: none;
}

.joblisting {
    margin:0;
}

.joblisting > li {
    margin-top:15px;
    margin-bottom: 6px;
    font-weight: 600;
    text-transform: uppercase;
}

.company > li:nth-child(1) {
    font-weight: bold;
}

.company > li:nth-child(2) {
    font-style:italic;
    color:#ccc;
    font-size: 14px;
}

.company > li:nth-child(3) {
    color:#ccc;
    font-size: 14px;
    margin-bottom:8px;
}

.experience li {
    font-weight: 400;
    list-style-type: circle;
}